<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/chatPage.css">
    <title>BuddyChat</title>
</head>
<body>
    <div class="container">
        <nav>
            <h2>BuddyChat</h2>
            <button>Logout</button>
        </nav>
        <main>
            <div class="msgSection" id="msgSection">

            </div>
            <div class="msgInput">
            <input type="text" id="msg">
            <button id="sendMessage">Send</button>
            </div>
        </main>
        <div class="sidebar">Sidebar</div>
        <div class="footer">
            <span>App Developed By Arpit Gaurav</span>
        </div>
    </div>
    <script src="/message.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>